table {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
  
table, tr, th, td {
    border: 1px solid #333;
    line-height: 2em;
}
  
th {
    background-color: #e8e8e8;
    padding: 0 .5em;
}
  
th.E {
    background: #c4e2ff no-repeat left center;
    padding: 0 .3em 0 1.2em;
}
  
th.D {
    background: #c4e2ff no-repeat left center;
    padding: 0 .3em 0 1.2em;
}
  
th.L {
    background: #c4e2ff no-repeat left center;
    padding: 0 .3em 0 1.2em;
}
  
th.Y {
    background: #c4e2ff no-repeat left center;
    padding: 0 .3em 0 1.2em;
}
  
tr:nth-child(n+1) td {
    text-align: right;
}
  
tr:nth-child(2n) {
    background-color: #ffff75;
}
  
tr:hover {
    background: #ffff00;
}